  @media all and (min-width: 1251px) {
    #process ul li {
        width: 31%;
    }

    .plats{
      width: 31%;
    }
  }

  @media all and (min-width: 1300px) {
    .card {
      width: 23%;
    }
  }